@use '../../scss/' as *;

.editProfile{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.007);
    padding: 1.5rem 0;
    
    form{
        width: 100%;
    }
    h1{
        margin-bottom: 1.5rem;
    }
    &__item{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        width: 100%;
        label{
            margin-right: 2rem;
            color: $main-color;
            font-weight: 900;
            width: 20%;
        }
        input{
            width:50%;
            height: 30px;
            border-radius: 4px;
            background-color: #333;
            border: none;
            color: $txt-color;
            font-size: 1.3rem;
            padding: 1rem;
        }
    }
}