@use '../../scss/' as *;

.movie{
    display: grid;
    grid-template-columns: repeat(4, 20%);
    gap: 5%;
  
    g
    &__item{
        width: 15%;
        height: 15%;
        // margin: 2rem ;
    }
}